[test]
#model_path=/home/chuyan/sttds/model/nn/tts200t.pth
#model_path=/home/chuyan/stt_algs/model/public_movie_n_realtime/final.pth
#model_path=/home/chuyan/deepspeech.pytorch/tts200t_n_no_bi/double_wav.pth
#model_path=/home/chuyan/deepspeech.pytorch/tts200t_n/final.pth
#model_path=/home/harry/repos/deepspeech.pytorch/models/ds2_mandarin_cuda_final.pth
#model_path=/home/chuyan/deepspeech.pytorch/public_movie/final.pth
#model_path=/home/chuyan/asr_algs/model/deploy2/context16/model.pth
#model_path=/home/chuyan/model.pth
#lm_path=/home/chuyan/sttds/model/lm/14m_2.arpa
#lm_path=/home/chuyan/kenlm/build/text4.arpa
model_path=model/nn/model.pth
#lm_path=/home/chuyan/kenlm/build/14m_4.arpa
lm_path=
gpu=
